{{!--this page is called from hbs when route endpoint is 'details.js'.  details.js passes the title--}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}. </p>
<p><i>This page displays details of all books listed.</i></p>
