{{!--this page is called by hbs when route endpoint is 'search.js'.  search.js passes the  title--}}
<h1>{{title}}</h1>
<p>This is the {{title}} page. </p>
<p><i>Search for a particular book from this page.</i></p>
