{{!--this page is called by hbs when route endpoint is 'singleBook.js'. singleBook.js passes the title--}}
<h1>{{title}}</h1>
<p>This is the {{title}} page. </p>
<p><i>Here you will see all the details we have for each book.</i></p>
